[submodule "libs/Graphics/libs/Vulkan-Environment"]
	path = libs/Graphics/libs/Vulkan-Environment
	url = https://github.com/NoamZeise/Vulkan-Environment.git
[submodule "libs/Graphics/libs/OpenGL-Environment"]
	path = libs/Graphics/libs/OpenGL-Environment
	url = https://github.com/NoamZeise/OpenGL-Environment.git
